<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="Генерални">
                <div class="panel">
                    <departments></departments>
                </div>
                <div class="panel">
                    <positions></positions>
                </div>
                <div class="panel">
                    <locations></locations>
                </div>
            </mat-tab>

            <mat-tab label="Отпуск">
                <div class="panel">
                    <official-holidays></official-holidays>
                </div>
                <div class="panel">
                    <absence-types></absence-types>
                </div>
                <div class="panel">
                    <absences-archive></absences-archive>
                </div>
            </mat-tab>

            <mat-tab label="Известия">
                <div class="panel">
                <notifications></notifications>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
