$col-name: minmax(100px, 20%);
$col-details: minmax(100px, 40%);
$col-limits: minmax(100px, 40%);
$col-transfer: minmax(100px, 10%);
$col-max: minmax(130px, 20%);
$col-approval: minmax(130px, 20%);
$col-cost: minmax(130px, 20%);

$content-columns: $col-name $col-details $col-limits $col-transfer $col-max $col-approval $col-cost;

$row-bottom: 1px solid #e5e5e5;

.content {
    display: grid;
    column-gap: 1%;
    grid-template-columns: $content-columns;
    grid-auto-flow: column;
    border-bottom: $row-bottom;

    // Apply to all cells
    & > * {
        height: 100%;
        padding: 12px 8px;
        vertical-align: middle;
        flex-wrap: wrap;
    }

    &:hover {
        background-color: #f5f5f5;
        font-weight: 450;

        .profile-icon {
            color: #555555;
        }

        .export-icon {
            color: #555555;
        }

        .remove {
            color: #f44336;
        }

        .edit {
            color: #9c27b0;
        }
    }

    .content-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2%;
        font-size: 0.95rem;
        font-weight: 500;

        :hover {
            background-color: #ececec;
            cursor: pointer;
        }
    }
}
