form {
    display: flex;
    flex-direction: row;
    align-items: center;

    .mat-form-field {
        margin-right: 10px; /* Adjust spacing between form fields */
        flex: 1; /* Distribute available space equally among form fields */
    }

    button {
        margin-top: 10px; /* Add some spacing below the form fields */
    }
}
