<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Официални почивни дни
            </mat-panel-title>
            <mat-panel-description>
                Добавяне/Премахване
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <official-holidays-list></official-holidays-list>
    </mat-expansion-panel>

</mat-accordion>
