$col-name: minmax(100px, 15%);
$col-localized-name: minmax(100px, 20%);
$col-localized-description: minmax(100px, auto);
$col-options: minmax(100px, 10%);

$content-columns: $col-name $col-localized-name $col-localized-description $col-options;

$row-bottom: 1px solid #e5e5e5;

.content {
    display: grid;
    column-gap: 1%;
    grid-template-columns: $content-columns;
    grid-auto-flow: column;
    border-bottom: $row-bottom;

    // Apply to all cells
    & > * {
        height: 100%;
        padding: 12px 8px;
        vertical-align: middle;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
    }

    &:hover {
        background-color: #f5f5f5;
        font-weight: 450;

        .profile-icon {
            color: #555555;
        }

        .export-icon {
            color: #555555;
        }

        .remove {
            color: #f44336;
        }

        .edit {
            color: #9c27b0;
        }
    }

    .content-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2%;
        font-size: 0.95rem;
        font-weight: 500;

        :hover {
            background-color: #ececec;
            cursor: pointer;
        }
    }
}

//Loader
.loader {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    position: absolute !important;
}

/* Loader with three blocks */
.loader, .loader:before, .loader:after {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 50px;
    background-color: rgba(215, 230, 240, 0.9);
    border: 1px solid rgb(215, 230, 240);
    z-index: 100000;
    content: ' ';
    margin-left: -5px;
    margin-right: -9px;
}

.loader:before {
    top: -11px;
    left: -100%;
    animation: loading .8s cubic-bezier(.4, .5, .6, 1) infinite;
}

.loader {
    animation: loading-main .8s cubic-bezier(.4, .5, .6, 1) .2s infinite;
}

.loader:after {
    top: -11px;
    right: -100%;
    margin-top: 50%;
    animation: loading .8s cubic-bezier(.4, .5, .6, 1) .4s infinite;
}

@keyframes loading {
    from {
        transform: scaleY(1.4);
        background-color: rgba(55, 114, 171, 0.9);
        border: 1px solid rgb(55, 114, 171);
    }
}

@keyframes loading-main {
    from {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: -10px;
        background-color: rgba(55, 114, 171, 0.9);
        border: 1px solid rgb(55, 114, 171);
    }
}

//No recors
.no-records {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    grid-column: 1 / span 5;
}
